[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde.git
[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/FaridG7/DevOps_Home_Lab-GitLab_CICD-Infrastructure.git
